<div class="education-boxes">
  <h2>Place for your Education</h2>
  <div class="content" *ngFor="let education of educations">
    <div class="labels">
      <label>EducationType:</label>
      <label *ngIf="education.educationType === 'COURSE_OR_CERTIFICATE'">Name of Institution:</label>
      <label *ngIf="education.educationType === 'UNIVERSITY'">Faculty:</label>
      <label *ngIf="education.educationType === 'HIGH_SCHOOL'">Name:</label>
      <label>Field of study:</label>
      <label *ngIf="education.educationType !== 'COURSE_OR_CERTIFICATE'">City:</label>
      <label *ngIf="education.educationType === 'HIGH_SCHOOL'">Leaving exam:</label>
      <label>Year from:</label>
      <label>Still studying:</label>
      <label *ngIf="!education.isStudying">Year till:</label>
      <label>Description:</label>
    </div>

    <div class="values">
      <select id="education-type" class="education-type" [(ngModel)]="education.educationType">
        <option value="COURSE_OR_CERTIFICATE">Course or Certificate</option>
        <option value="UNIVERSITY">University</option>
        <option value="HIGH_SCHOOL">High school</option>
      </select>
      <input type="text" [(ngModel)]="education.nameOfInstitution" *ngIf="education.educationType === 'COURSE_OR_CERTIFICATE'">
      <input type="text" [(ngModel)]="education.faculty" *ngIf="education.educationType === 'UNIVERSITY'">
      <input type="text" [(ngModel)]="education.name" *ngIf="education.educationType === 'HIGH_SCHOOL'">
      <input type="text" [(ngModel)]="education.fieldOfStudy">
      <input type="text" [(ngModel)]="education.city" *ngIf="education.educationType !== 'COURSE_OR_CERTIFICATE'">
      <div class="checkbox-options">
        <input  type="checkbox" [(ngModel)]="education.schoolLeavingExam" *ngIf="education.educationType === 'HIGH_SCHOOL'">
      </div>
      <input type="number" [(ngModel)]="education.yearFrom">
      <div class="checkbox-options">
        <input class="checkbox-options" type="checkbox" [(ngModel)]="education.isStudying">
      </div>
      <input type="number" [(ngModel)]="education.yearTill" *ngIf="!education.isStudying">
      <textarea [(ngModel)]="education.description" class="description"></textarea>
    </div>

    <div class="buttons">
      <button type="button" (click)="edit()" *ngIf="!isEditable">Edit</button>
      <button type="submit" (click)="save()" *ngIf="isEditable">Save</button>
      <button type="button" (click)="edit()" *ngIf="isEditable">Cancel</button>
    </div>
  </div>
</div>

