<div class="education-boxes">

  <h2>Place for your Education</h2>

  <div *ngFor="let education of educations; let i = index" class="education-container">
    <div class="content" >
      <div [class.labels-before]="!isEditable[i]" [class.labels-after]="isEditable[i]">
        <label>EducationType:</label>
        <label *ngIf="education.educationType === 'COURSE_OR_CERTIFICATE'">Name of Institution:</label>
        <label *ngIf="education.educationType === 'UNIVERSITY'">Faculty:</label>
        <label *ngIf="education.educationType === 'HIGH_SCHOOL'">Name:</label>
        <label>Field of study:</label>
        <label *ngIf="education.educationType !== 'COURSE_OR_CERTIFICATE'">City:</label>
        <label *ngIf="education.educationType === 'HIGH_SCHOOL'">Leaving exam:</label>
        <label>Year from:</label>
        <label *ngIf="(isEditable[i] && !education.schoolLeavingExam)">Still studying:</label>
        <label *ngIf="(!isEditable[i] && education.studying)">Year till:</label>
        <label>Description:</label>
      </div>

      <div class="values" *ngIf="isEditable[i]">
        <select id="education-type" class="education-type" [(ngModel)]="editedEducation.educationType">
          <option value="COURSE_OR_CERTIFICATE">Course or Certificate</option>
          <option value="UNIVERSITY">University</option>
          <option value="HIGH_SCHOOL">High school</option>
        </select>
        <input type="text" [(ngModel)]="editedEducation.nameOfInstitution" *ngIf="editedEducation.educationType === 'COURSE_OR_CERTIFICATE'">
        <input type="text" [(ngModel)]="editedEducation.faculty" *ngIf="editedEducation.educationType === 'UNIVERSITY'">
        <input type="text" [(ngModel)]="editedEducation.name" *ngIf="editedEducation.educationType === 'HIGH_SCHOOL'">
        <input type="text" [(ngModel)]="editedEducation.fieldOfStudy">
        <input type="text" [(ngModel)]="editedEducation.city" *ngIf="editedEducation.educationType !== 'COURSE_OR_CERTIFICATE'">
        <div class="checkbox-options" *ngIf="editedEducation.educationType === 'HIGH_SCHOOL'">
          <input  type="checkbox" [(ngModel)]="editedEducation.schoolLeavingExam">
        </div>
        <input type="number" [(ngModel)]="editedEducation.yearFrom">
        <div class="checkbox-options" *ngIf="!editedEducation.schoolLeavingExam">
          <input class="checkbox-options" type="checkbox" (click)="yearTillDelete()" [(ngModel)]="editedEducation.studying">
        </div>
        <input type="number" [(ngModel)]="editedEducation.yearTill" *ngIf="!editedEducation.studying">
        <textarea [(ngModel)]="editedEducation.description" class="description"></textarea>
      </div>

      <div class="notEditableValues" *ngIf="!isEditable[i]">
        <li *ngIf="education.educationType === 'COURSE_OR_CERTIFICATE'">Course or Certificate</li>
        <li *ngIf="education.educationType === 'UNIVERSITY'">University</li>
        <li *ngIf="education.educationType === 'HIGH_SCHOOL'">High school</li>
        <li *ngIf="education.educationType === 'COURSE_OR_CERTIFICATE'">{{education.nameOfInstitution}}</li>
        <li *ngIf="education.educationType === 'UNIVERSITY'">{{education.faculty}}</li>
        <li *ngIf="education.educationType === 'HIGH_SCHOOL'">{{education.name}}</li>
        <li>{{education.fieldOfStudy}}</li>
        <li *ngIf="education.educationType !== 'COURSE_OR_CERTIFICATE'">{{education.city}}</li>
        <li *ngIf="education.educationType === 'HIGH_SCHOOL'">{{education.schoolLeavingExam}}</li>
        <li>{{education.yearFrom}}</li>
        <li *ngIf="!education.studying">{{education.yearTill}}</li>
        <li *ngIf="education.studying">Still studying</li>
        <li>{{education.description}}</li>
      </div>

      <div class="messages" *ngIf="isEditable[i]">
        <p *ngIf="message" [class]="messageType === 'success' ? 'successMessage' : 'errorMessage'">{{message}}</p>
      </div>

      <div class="buttons">
        <button type="button" (click)="edit(education.id)" *ngIf="!isEditable[i]">Edit</button>
        <button class="save" type="submit" (click)="saveEdited()" *ngIf="isEditable[i]">Save</button>
        <button class="cancel" type="button" (click)="cancelEdit(education.id)" *ngIf="isEditable[i]">Cancel</button>
        <button class="delete" type="submit" (click)="delete(education.id)" *ngIf="!isEditable[i]">Delete</button>
      </div>
    </div>
  </div>

  <div class="content" *ngIf="isCreatable">
    <div [class.labels-before]="!isEditable" [class.labels-after]="isEditable">
      <label>EducationType:</label>
      <label *ngIf="newEducation.educationType === 'COURSE_OR_CERTIFICATE'">Name of Institution:</label>
      <label *ngIf="newEducation.educationType === 'UNIVERSITY'">Faculty:</label>
      <label *ngIf="newEducation.educationType === 'HIGH_SCHOOL'">Name:</label>
      <label>Field of study:</label>
      <label *ngIf="newEducation.educationType !== 'COURSE_OR_CERTIFICATE'">City:</label>
      <label *ngIf="newEducation.educationType === 'HIGH_SCHOOL'">Leaving exam:</label>
      <label>Year from:</label>
      <label *ngIf="!newEducation.schoolLeavingExam">Still studying:</label>
      <label *ngIf="!newEducation.studying">Year till:</label>
      <label>Description:</label>
    </div>

    <div class="values">
      <select class="education-type" [(ngModel)]="newEducation.educationType">
        <option value="COURSE_OR_CERTIFICATE">Course or Certificate</option>
        <option value="UNIVERSITY">University</option>
        <option value="HIGH_SCHOOL">High school</option>
      </select>
      <input type="text" [(ngModel)]="newEducation.nameOfInstitution" *ngIf="newEducation.educationType === 'COURSE_OR_CERTIFICATE'">
      <input type="text" [(ngModel)]="newEducation.faculty" *ngIf="newEducation.educationType === 'UNIVERSITY'">
      <input type="text" [(ngModel)]="newEducation.name" *ngIf="newEducation.educationType === 'HIGH_SCHOOL'">
      <input type="text" [(ngModel)]="newEducation.fieldOfStudy">
      <input type="text" [(ngModel)]="newEducation.city" *ngIf="newEducation.educationType !== 'COURSE_OR_CERTIFICATE'">
      <div class="checkbox-options" *ngIf="newEducation.educationType === 'HIGH_SCHOOL'">
        <input  type="checkbox" [(ngModel)]="newEducation.schoolLeavingExam">
      </div>
      <input type="number" [(ngModel)]="newEducation.yearFrom">
      <div class="checkbox-options" *ngIf="!newEducation.schoolLeavingExam">
        <input type="checkbox" [(ngModel)]="newEducation.studying">
      </div>
      <input type="number" [(ngModel)]="newEducation.yearTill" *ngIf="!newEducation.studying">
      <textarea class="description" [(ngModel)]="newEducation.description"></textarea>
    </div>

    <div class="messages">
      <p *ngIf="message" [class]="messageType === 'success' ? 'successMessage' : 'errorMessage'">{{message}}</p>
    </div>

    <div class="buttons">
      <button class="save" type="submit" (click)="saveCreated()" *ngIf="isCreatable">Save</button>
      <button class="cancel" type="button" (click)="create()" *ngIf="isCreatable">Cancel</button>
    </div>
  </div>

  <div class="content" *ngIf="!isCreatable">
    <div class="buttons">
      <button type="button" (click)="create()" *ngIf="!isCreatable">Add</button>
    </div>
  </div>

</div>

<app-delete-confirmation *ngIf="generalService.showDeleteConfirmationDialog"></app-delete-confirmation>

