<div class="header">
  <h2>ResumeApp</h2>
  <div *ngIf="session$ | async; else LoginTemplate">
    <button class="logout" type="button" (click)="logout()">Logout</button>
  </div>
  <ng-template #LoginTemplate>
    <div>
      <button  type="button" (click)="generalService.showLoginDialog = true">Login</button>
      <button type="button" (click)="generalService.showRegisterDialog = true">Register</button>
    </div>
  </ng-template>
</div>

<app-login-dialog *ngIf="generalService.showLoginDialog"></app-login-dialog>
<app-register-dialog *ngIf="generalService.showRegisterDialog"></app-register-dialog>

