<div class="header">
  <h2>ResumeApp</h2>
  <div>
    <button type="button" (click)="generalService.showLoginDialog = true" *ngIf="!authService.isLoggedIn">Login</button>
    <button type="button" (click)="generalService.showRegisterDialog = true" *ngIf="!authService.isLoggedIn">Register</button>
    <button class="logout" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
  </div>
</div>

<app-login-dialog *ngIf="generalService.showLoginDialog"></app-login-dialog>
<app-register-dialog *ngIf="generalService.showRegisterDialog"></app-register-dialog>

