<div class="details">
  <div class="block">
    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="username">
  </div>
  <div class="block">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="name">
  </div>
  <div class="block">
    <label for="lastname">Lastname:</label>
    <input id="lastname" [(ngModel)]="lastname">
  </div>
  <div class="block">
    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" [(ngModel)]="phoneNumber">
  </div>


  <button type="submit" (click)="saveDetails()">Save</button>
</div>

