.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  max-height: 10em;
  overflow: auto;
}

.checkbox-options label {
  margin-right: 25px;
  white-space: nowrap;
}

.checkbox-options input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
}

.checkbox-options input[type="checkbox"]:checked {
  background-color: #007bff;
}

.checkbox-options input[type="checkbox"] + label {
  font-size: 14px;
  vertical-align: middle;
}
