#header {
  z-index: 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg, rgba(138, 246, 105, 0.8), rgba(86, 215, 145, 0.8), rgba(12, 213, 231, 0.8));
  border-radius: 10px;
  color: darkblue;
  box-shadow: 4px 4px rgba(0, 33, 175, 0.4);
  flex-direction: row;
  button {
    display: inline-block;
    padding: 8px 25px;
    margin: 10px;
    align-self: flex-end;
    background-color: lightblue;
    border-radius: 8px;
    border: 1px solid #086e08;
    cursor: pointer;
    transition: transform 0.3s;
  }
  button:hover{
    background-color: #0be13a;
    border: 1px solid rgba(0, 0, 0, 0.9);
    animation: bubble 0.4s ease-out;
  }

  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  h2 {
    margin: 10px;
    font-size: 30px;
  }
}

#background {
  z-index: 12;
  background: linear-gradient(120deg, rgba(245, 218, 84, 0.8), rgba(117, 243, 105, 0.8), rgba(85, 231, 214, 0.8));
}


