<h1>Welcome to ResumeApp</h1>

<div class="main">
  <p>On left side you can select what you want to do</p>
  <p>There is option for Profile settings where you can edit your email and password.</p>
  <p>In Personal details you can set gender, driving licence and address.</p>
  <p>Education is for your finished schools and courses.</p>
  <p>With skills you can show how you can handle things what you learned or using every day.</p>
  <p>Experience is something where you can show your positions where did you work or still working.</p>
  <p>In additional info you can write some basic information about you like hobbies or what you like.</p>
  <p>Resume part is where you can find your resume what is created from your whole information what you set in every part of application.</p>
</div>

